<h2 align="center">Firts step</h2> <br/>
We have to backup data chat using web scraping, and here i using spider for scaping or backup <br/>
chat. And you can follow this amazing tutorial for backup data chat <a href="https://towardsdatascience.com/can-python-be-used-for-facebook-chat-backup-of-course-it-can-877226b57ac8"> Can python be used for Facebook chat backup? of course, it can!</a> <br/>
<h3>Disclaimer</h3> <br/>
This project is not meant for the peoples in the data sets, and i'm sorry if this offends you in any way!!<br/>
I do this just for my training only... Thanks!!!

In [2]:
import pandas as pd
chat1 = pd.read_csv("backup_data/facebook/facebook/fb_text.csv")
chat2 = pd.read_csv("backup_data/facebook/facebook/fb_text2.csv")
chat3 = pd.read_csv("backup_data/facebook/facebook/fb_text3.csv")
chat4 = pd.read_csv("backup_data/facebook/facebook/fb_text4.csv")
chat5 = pd.read_csv("backup_data/facebook/facebook/fb_text5.csv")
frames = [chat1,chat2,chat3,chat4,chat5]
df = pd.concat(frames)
df.sample(10)

,Unnamed: 0,Name,Text,Time
11,11,Taufik Hidayah,Puguh alus moal lila ari gede mh,28 Dec 2021
21,21,Jey Jr,Goblog,14 May 2021
17,17,Nden,Okehh,12 Jan
77,77,Taufik Hidayah,Hh bnrrr,2 Dec 2021
23,23,Taufik Hidayah,Sok mna no na,16 Jan
55,55,Jey Jr,Pn jng dewk Alahh da CAI hujan g ngiuhn hla,5 Dec 2021
4,4,Hermudin Ramadhan,"Sumanget terus pik, sambut masadepan yg cerah ...",9 Jan
71,71,Doy'z,Alahhh kenbae lahh ngenog hela we cing sebeh K...,2 Dec 2021
4,4,Taufik Hidayah,Alahh kaa ngakut hela bieu mh Peuting dk di da...,1 Jan
27,27,Jey Jr,Kadieuu w da tra kmamna dekat,16 May 2021

In [3]:
df.shape

(268, 4)

In [4]:
df.columns

Index(['Unnamed: 0', 'Name', 'Text', 'Time'], dtype='object')

In [5]:
df2 = df.drop(['Unnamed: 0'], axis=1)
df2.head()

,Name,Text,Time
0,Jey Jr,Bnr arii kieu mh emung wawuh deuii tika t ulin2,18 Apr 2021
1,Taufik Hidayah,NaN,18 Apr 2021
2,Taufik Hidayah,NaN,18 Apr 2021
3,Jey Jr,Ahh cadukk,18 Apr 2021
4,Jey Jr,Woy dieuu atuh Cigh nu goreng hate pisan k aku...,27 Apr 2021

In [6]:
df2.dropna(inplace=True)
df2.shape

(262, 3)

In [7]:
df2.head()

,Name,Text,Time
0,Jey Jr,Bnr arii kieu mh emung wawuh deuii tika t ulin2,18 Apr 2021
3,Jey Jr,Ahh cadukk,18 Apr 2021
4,Jey Jr,Woy dieuu atuh Cigh nu goreng hate pisan k aku...,27 Apr 2021
5,Taufik Hidayah,Oiiiiittttt.... Sok poho wae euyyy alahhh Sieu...,27 Apr 2021
6,Jey Jr,Goblog tehh gs poho nyh k akuu aynmhh Moall at...,27 Apr 2021

In [8]:
df3 = df2.drop(['Name','Time'], axis=1)
df3.sample(10)

                                                 Text
81                                   T sopan pisannnn
21                                             Goblog
63  Paling rebo jun mun hnt hujan mh hayang ulin k...
68                  Balik kehedd Kot ewh jelema pisan
88  Moal hadir dekh da t boga bbaturn kasep Kitu dekh
51                                              Sippp
29                               Dieuu atuh bll ulinn
35                                       Di lame Ayaa
32  Tara aya sasaha... Sakapeng mh sok aya barudak...
49                                               Bet.

<h3>Case Folding </h3>

In [9]:
df3['Text'] = df3['Text'].str.lower()
df3.sample(10)

                                      Text
45                      gampang gs raat mh
67                       bet kmha dilemur?
30                            tara ayna mh
94                                 hhaahah
19                                   oitty
73         gadag kabehh ewh nu balik deuih
28                             eeeuuummmmm
8   t kuduu ..unggal poe g aya d imah dekh
36                                    koma
56                 gampang ath ari ktu mhh