<h2 align="center">Firts step</h2> <br/>
We have to backup data chat using web scraping, and here i using spider for scaping or backup <br/>
chat. And you can follow this amazing tutorial for backup data chat <a href="https://towardsdatascience.com/can-python-be-used-for-facebook-chat-backup-of-course-it-can-877226b57ac8"> Can python be used for Facebook chat backup? of course, it can!</a> <br/>
<h3>Disclaimer</h3> <br/>
This project is not meant for the peoples in the data sets, and i'm sorry if this offends you in any way!!<br/>
I do this just for my training only... Thanks!!!

In [5]:
import pandas as pd
chat1 = pd.read_csv("backup_data/facebook/facebook/fb_text.csv")
chat2 = pd.read_csv("backup_data/facebook/facebook/fb_text2.csv")
chat3 = pd.read_csv("backup_data/facebook/facebook/fb_text3.csv")
chat4 = pd.read_csv("backup_data/facebook/facebook/fb_text4.csv")
chat5 = pd.read_csv("backup_data/facebook/facebook/fb_text5.csv")
frames = [chat1,chat2,chat3,chat4,chat5]
df = pd.concat(frames)
df.sample(10)

,Unnamed: 0,Name,Text,Time
78,78,Taufik Hidayah,Si tono mh kalah tereh kawin ning,31 Jan
49,49,Doy'z,Bet.,3 Nov 2021
67,67,Doy'z,Bet kmha dilemur?,2 Dec 2021
9,9,Taufik Hidayah,Hh ath... Gampang lah sugan,27 Apr 2021
7,7,Doy'z,Nyinggg sakittt bell katingang cai hujan thh.....,19 Nov 2020
28,28,Jey Jr,Dekh,16 May 2021
49,49,Taufik Hidayah,Aslina bell... Hnt nanaon gs poho uing nage M...,5 Dec 2021
4,4,Taufik Hidayah,Alahh kaa ngakut hela bieu mh Peuting dk di da...,1 Jan
34,34,Taufik Hidayah,Hmmmmmmmmmmmmmmmmmmm足mmmmmmmmmmmmmmmmmmmm足mmmm...,3 Oct 2021
47,47,Taufik Hidayah,Gede bell kadieu mh baradag,3 Oct 2021

In [23]:
df.shape

(268, 4)

In [24]:
df.columns

Index(['Unnamed: 0', 'Name', 'Text', 'Time'], dtype='object')

In [26]:
df2 = df.drop(['Unnamed: 0'], axis=1)
df2.head()

,Name,Text,Time
0,Jey Jr,Bnr arii kieu mh emung wawuh deuii tika t ulin2,18 Apr 2021
1,Taufik Hidayah,NaN,18 Apr 2021
2,Taufik Hidayah,NaN,18 Apr 2021
3,Jey Jr,Ahh cadukk,18 Apr 2021
4,Jey Jr,Woy dieuu atuh Cigh nu goreng hate pisan k aku...,27 Apr 2021

In [28]:
df2.dropna(inplace=True)
df2.shape

(262, 3)

In [29]:
df2.head()

,Name,Text,Time
0,Jey Jr,Bnr arii kieu mh emung wawuh deuii tika t ulin2,18 Apr 2021
3,Jey Jr,Ahh cadukk,18 Apr 2021
4,Jey Jr,Woy dieuu atuh Cigh nu goreng hate pisan k aku...,27 Apr 2021
5,Taufik Hidayah,Oiiiiittttt.... Sok poho wae euyyy alahhh Sieu...,27 Apr 2021
6,Jey Jr,Goblog tehh gs poho nyh k akuu aynmhh Moall at...,27 Apr 2021

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 103
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    262 non-null    object
 1   Text    262 non-null    object
 2   Time    262 non-null    object
dtypes: object(3)
memory usage: 8.2+ KB