<h1 align="center">Omicron Daily Cases Analysis</h1>
This dataset from this link : <a href="https://www.kaggle.com/yamqwe/omicron-covid19-variant-daily-cases">Kaggle</a> </br>
<h2>Description</h2>
<h3>Tracking the progression of the new omicron COVID-19 variant</h3>
<h4>The data</h4>
<ul>
    <li>location- this is the country for which the variants information is provided</li>
    <li>date - date for the data entry</li>
    <li>variant - this is the variant corresponding to this data entry</li>
    <li>num_sequences - the number of sequences processed (for the country, variant and date)</li>
    <li>perc_sequences - percentage of sequences from the total number of sequences (for the country, variant and date)</li>
    <li>numsequencestotal - total number of sequences (for the country, variant and date)</li>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("covid-variants.csv")
df.head()

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3

In [9]:
df["variant"].unique()

array(['Alpha', 'B.1.1.277', 'B.1.1.302', 'B.1.1.519', 'B.1.160',
       'B.1.177', 'B.1.221', 'B.1.258', 'B.1.367', 'B.1.620', 'Beta',
       'Delta', 'Epsilon', 'Eta', 'Gamma', 'Iota', 'Kappa', 'Lambda',
       'Mu', 'Omicron', 'S:677H.Robin1', 'S:677P.Pelican', 'others',
       'non_who'], dtype=object)

In [11]:
df.shape

(98784, 6)

In [12]:
df2 = df[df["variant"] == "Omicron"]
df2.head()

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
19,Angola,2020-07-06,Omicron,0,0.0,3
43,Angola,2020-08-31,Omicron,0,0.0,1
67,Angola,2020-09-28,Omicron,0,0.0,10
91,Angola,2020-10-12,Omicron,0,0.0,29
115,Angola,2020-10-26,Omicron,0,0.0,7

In [16]:
df3 = df2.drop(['variant'],axis=1)
df3.head()

    location        date  num_sequences  perc_sequences  num_sequences_total
19    Angola  2020-07-06              0             0.0                    3
43    Angola  2020-08-31              0             0.0                    1
67    Angola  2020-09-28              0             0.0                   10
91    Angola  2020-10-12              0             0.0                   29
115   Angola  2020-10-26              0             0.0                    7

In [17]:
data = df2.groupby("location").sum()

In [19]:
# import pycountry as cntry